<?xml version="1.0"?>
	<robot name="robot_3angles">

		<!-- lien 1 -->
		<link name="base_link">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.4 0.4 0.4"/>
			   </geometry>
			</visual>

			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.4 0.4 0.4"/>
			   </geometry>
    		</collision>
		</link>
		<!-- fin lien 1 -->

		<!-- lien 2--> 
		<link name="up_link">
			<visual>
				<origin rpy="0 0 0" xyz="0.4 0 0.6"/>
				<geometry>
					<box size="0.4 0.4 1.6"/>
			   </geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0.4 0 0.6"/>
				<geometry>
					<box size="0.4 0.4 1.6"/>
		      </geometry>
	    	</collision>
		</link>
		<!--  fin lien 2 -->

		<!-- lien 3--> 
		<link name="up_link2">
			<visual>
				<origin rpy="0 0 0" xyz="0 0.4 -0.3"/>
				<geometry>
					<box size="0.4 0.4 1"/>
			   </geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0.4 -0.3"/>
				<geometry>
					<box size="0.4 0.4 1"/>
		      </geometry>
	    	</collision>
		</link>
		<!--  fin lien 2 -->

   <joint name="base_to_up" type="fixed">
       <parent link="base_link"/>
       <child link="up_link"/>
			<origin xyz="0 0 0"/>
   </joint>

   <joint name="base_to_up2" type="fixed">
       <parent link="base_link"/>
       <child link="up_link2"/>
			<origin xyz="0 0 0"/>
   </joint>

</robot>
